.shares {
	padding:0;
	margin:0;	
}
.one_shares {
	width:47.8%;	
	margin-bottom:25px;
	-moz-box-sizing: border-box; 
   box-sizing: border-box; 
	list-style:none;
	float:left;
	border:1px solid #dddddd;
	border-radius:5px;
	padding:12px 16px;
	margin:0;
	margin-bottom:15px;
	position:relative;
}
.one_shares a.detail_shares {
	position:absolute;
	bottom:0;
	right:15px;
	height: 23px;
	width: 84px;
	text-align:center;
	background:#ffcc00;
	display:block;
	color:#444648;
	font-size:10px;
	font-style:italic;
	text-decoration:none;
	border-radius:5px 5px 0 0;
	line-height: 25px;
}
.one_shares:hover{
	box-shadow: 3px 3px 4px #ddd;
} 
.one_shares:nth-child(2) {
	float:right;
}
.one_shares a.img_shares {
	display: block;
	position: relative;
	width: 27%;
	padding-top: 27%;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.one_shares a.img_shares span.stick {
	display:block;
	position:absolute;
	width:80%;
	height:48px;
	background:rgba(207,159,51,0.87);
	left:0;
	bottom:35px;
	padding-left:20px;
	font-size:30px;
	color:#fff;
	font-family:'Babas',Arial,sans-serif;
	line-height: 46px;
}
.one_shares .body_shares {
	float: right;
	width: 69%;
}
.one_shares a.name_shares {
	font-size:15px;	
	font-family:Arial,sans-serif;
	color:#444648;
	text-decoration:none;
	display:block;
	font-weight:bold;
	height: 32px;
	line-height: 15px;
}
.one_shares  a.name_shares:hover{
	color:#1d6eb1;
	text-decoration:underline;
}
.one_shares .prev_text {
	clear:both;
	width:100%;
	overflow:hidden;
	padding-top:0;
	font-size:11px;
	color:#2e2e2e;
	min-height: 65px;
	line-height:12px;
}
.one_shares .period {
	font-size:12px;
	font-family:Arial,sans-serif;	
	color:#1060a5;
	display:block;
	width:auto;
	padding:5px 30% 5px 0;
	float:left;
	border-top:1px dotted #a0a0a0;
	border-bottom:1px dotted #a0a0a0;
	overflow:hidden;
	margin-top:7px;
	font-weight:bold;
	margin-bottom: 7px;
}
.one_shares .period p {
	padding:0;
	margin:0;
}
@media (max-width:1024px){
	.one_shares a.img_shares span.stick {
		font-size:24px;
	}
	.one_shares {
		width:100%;
	}
}
@media (max-width:600px){
	.one_shares a.img_shares span.stick {
		display:none;
	}
}
@media (max-width:580px) {
	.one_shares a.img_shares {
		display:none;
		width:0;
		height:0;
	}
	.one_shares .body_shares {
		width:100%;
	}
}