ul.popular {
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:-40px;
}
ul.popular .one_section_product_cells {
	width:24%;	
	display:inline-block;
	margin-bottom:40px;
	padding-bottom:22px;	
	vertical-align:top;
}
ul.popular li.one_section_product_cells:nth-child(4n) .image_product {
	border-right:0;
}
ul.popular .one_section_product_cells .image_product {
	width: 88%;
	padding-top: 64%;
	display: block;
	background-position:center;	
	background-repeat:no-repeat;
	background-size:contain;
	margin:0 auto;
	position:relative;
	border-right:1px dotted #bfbfbf;
}
ul.popular .one_section_product_cells .image_product:hover {
	-webkit-filter: contrast(110%);
}
ul.popular .one_section_product_cells .name_product {
	height:47px;
	overflow:hidden;
	margin-top:15px;
	width: 88%;
	margin:0 auto;
	line-height:18px;
}
ul.popular .one_section_product_cells .price_block .name_price {		
}
ul.popular .one_section_product_cells .price_block .old_price {
	padding-left:5px;
}
ul.popular .one_section_product_cells .price_block .old_price, 
ul.popular .one_section_product_cells .price_block .old_price span{
	color:#2d2d2d;
	font-size:12px;
	font-weight:normal;
	text-decoration:line-through;
	
}
.one_section_product_cells .name_product a {
	color:#1d6eb1;
	font-size:15px;
	font-weight:bold;
	height:37px;
	overflow:hidden;
	display:block;
}
ul.popular .one_section_product_cells .name_product a:hover{
	color:#444648;
}
ul.popular .one_section_product_cells .buys {
	width: 88%;
	margin:0 auto;
	overflow:hidden;
	margin-top:5px;
}
ul.popular .one_section_product_cells .price_block {
	margin-left:0;
	float:left;
}
ul.popular .one_section_product_cells .price_block .new_price {
	font-size:17px;
	font-weight:bold;
	color:#3b3b43;
	background:#fed700;
	padding:1px 5px;
	border-radius:3px;
}
ul.popular .one_section_product_cells .price_block .new_price span { 
	font-size:17px;
}
ul.popular .one_section_product_cells .buy_block {	
	float:right;
}
ul.popular .one_section_product_cells .big_buy{
	width:100%;
} 
@media all and (max-width:1000px) {
	ul.popular .one_section_product_cells {
		width:32%;
	}
	ul.popular li.one_section_product_cells:nth-child(4n) .image_product {
		border-right:1px dotted #bfbfbf;
	}
	ul.popular li.one_section_product_cells:nth-child(3n) .image_product {
		border-right:0;
	}
}
@media all and (max-width:640px) {
	ul.popular .one_section_product_cells {
		width:49%;
	}
	ul.popular li.one_section_product_cells:nth-child(3n) .image_product {
		border-right:1px dotted #bfbfbf;
	}
	ul.popular li.one_section_product_cells:nth-child(2n) .image_product {
		border-right:0;
	}
}
@media all and (max-width:350px) {
	ul.popular .one_section_product_cells {
		width:100%;
	}
	ul.popular li.one_section_product_cells .image_product {
		border:0!important;
	}
}