.catalog-sections-top ul {
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}
.catalog-sections-top ul li.one_section {
	width: 23.5%;
	float: left;
	margin-right: 1.5%;
	margin-bottom: 15px;
	position: relative;
}
.catalog-sections-top ul li.one_section:last-child {
	float:right;
}
.catalog-sections-top ul li.one_section a.img_banner {
	display:block;
	width:100%;	
	padding-top: 54.0%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
.catalog-sections-top ul li.one_section a.name {
	text-align:center;
	display:block;
	width:100%;
	margin-top:20px;
	font-size: 16px;
	font-weight: bold;
}
@media (max-width:768px){
	.catalog-sections-top ul li.one_section {
		width:49%;
		margin-right:1%;
		float:left;
		box-shadow:none;
		border:0;
	}	
	.catalog-sections-top ul li.one_section:nth-child(even) {
		margin-right:0;
		float:right;
	}
		.catalog-sections-top ul li.one_section a.img_banner {
		background-size:contain;
		background-position:top;
		padding-top:70%;
	}
}