input, textarea { outline:none; }
input:active, textarea:active { outline:none; }
html {-webkit-text-size-adjust:none}
body {
	margin:0;
	padding:0;	
	font-family:Arial,sans-serif;
}
a img { border:none;}
a {
	text-decoration:underline;
	color:#1d6eb1;
}
a:hover{
	color:#636363;
}
h3 {
	
}
/*float class*/
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}

/*TOP-PANEL*/
.top_panel{
	width:100%;
	height:40px;
	background:#FFE301;
}
.top_panel_wrap{
	margin:0 auto;
	height:40px;
	max-width:1240px;	
	padding-left:10px;
	padding-right:10px;
	line-height:40px;
}
@media (max-width:390px){
	.top_panel_wrap{
		padding:0;
	}
}
/*TOP-PANEL END*/
/* ---- HEADER ---- */
.header_wrap {
	position:relative;
	z-index:20;
}
.workarea_wrap {
	position:relative;
	z-index:10;
}
.header_wrap_container {
	margin:0 auto;
	max-width:1240px;	
	padding: 0 8px;
}
.worakarea_wrap_container {
	margin:0 auto;	
	max-width:1240px;
	padding:0 8px;
	min-height:350px;
}
.header_grey{
	font-size: 27px;
	color: #282828;
	font-family: Arial,sans-serif;	
	font-weight: normal;
}
@media (max-width:1024px) {
	.workarea_wrap {
		min-height:400px;
	}
}
.workarea_wrap h1 {
	padding-bottom:0;
	font-size:27px;
	color:#444648;
	font-family:Arial,sans-serif;
	font-weight:normal;
}
.workarea_wrap h1 a {
	color:#000;
	text-decoration:none;
}
.bx_title_section {
	margin-top:0;
	padding-top:0;
	vertical-align:middle;
	font-size:26px;
}
.footer_wrap_container {
	margin:0 auto;
	padding-top:20px;
	padding-bottom:40px;
	max-width:980px;
}
/* ---- INC SOCIAL HEADER ---- */
.bx_inc_social_footer h4{
	text-align: left;
	font-weight: normal;
	font-size:26px;
}
.social_buttons {margin-top: 0px}
.social_buttons ul{
	margin: 0;
	padding: 0;
	list-style:none;
}
.social_buttons ul li{
	display: inline-block;
	width: 32px;
	height: 32px;
	list-style:none;
}
.social_buttons ul li a{
	display: block;
	width: 30px;
	height: 32px;
	background: url("sprite_social.png") no-repeat;	
}
.social_buttons ul li.fb a{ background-position: -62px 0;}
.social_buttons ul li.fb a:hover{ background-position: -62px -33px;}
.social_buttons ul li.tw a { background-position:-31px 0;}
.social_buttons ul li.tw a:hover { background-position:-31px -33px;}
.social_buttons ul li.gp a{ background-position:-64px 0}
.social_buttons ul li.vk a{ background-position:0 0}
.social_buttons ul li.vk a:hover { background-position:0 -33px;}
.social_buttons ul li a:hover{opacity:0.65;}
/* ---- INC SOCIAL HEADER END---- */
/*HEADER_LOGO*/
table.header_table {
	height:100px;
	width:100%;
	vertical-align:middle;
background:#FFE301;
	/* border:1px dotted grey; */ 
}
table.header_table td.address {
	width:17%;	
	font-size:14px;
	font-family:Arial,sans-serif;
}
table.header_table td.phone{
	width: 15%;
	font-size:24px;
	color:#2e2e2e;
	font-weight:bold;
	font-family:Arial,sans-serif;
}
span.code {
	font-size:17px;
}
table.header_table td.logo{
	width:50%;
}
table.header_table td.logo_wrap {	
	padding-left:12px;
}
@media (max-width:1200px){
	table.header_table td.logo {
		width:40%;
	}
	table.header_table td.address {
		width:20%;
	}
	table.header_table td.phone {
		width:20%;
	}
}
@media (max-width:920px){
	table.header_table td.logo {
		width: 30%;
	}
	table.header_table td.address {
		width:25%;

	}
	table.header_table td.phone {
		width:25%;
	}
}
@media (max-width:740px){
	table.header_table td.logo {
		display:block;
		float:left;
		width:30%;
		margin-top: 5px;
		margin-bottom: 5px;		
		
	}
	table.header_table td.socnet {
		display:none;
	}
	table.header_table td.address {	
		display:block;
		float:left;
		width:30%;
		margin-left:20px;	
		margin-left: 10px;	
		margin-top:2%;
	}
	table.header_table td.phone {		
		display:block;
		float:right;
		width:35%;
		margin-right:10px;
		margin-bottom:5px;
		text-align:right;
	}
	table.header_table {
		max-height: 60px;
	}
}
@media (max-width:600px) {
	table.header_table td.address {
		display:none;
	}
	table.header_table td.phone {
		width:50%;
		font-size: 18px;
	}
	span.code {
		font-size:14px;
	}	
}
@media (max-width:480px) {
	table.header_table td.phone {		
		font-size: 18px;
	}
	table.header_table td.address {
		display:none;
	}
	table.header_table td.address {
		width: 47%;
		margin-left: 1.6%;
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 9px;
	}	
	.logo_wrap img {
		max-width: 120px!important;
		height: auto!important;
	}
}
/*TOP_SLIDER*/
.slider{
	position: relative;
	overflow: hidden;
	margin-top: 40px;
	width:100%;
}
.slider .slider_container{
	position:absolute;
	top:0px;
	padding:0px;
}
.slider .slider_container  .slider_item{
	overflow:hidden;
	float:left;
}
.slider .slider_container  .slider_item img{
	
}
/*INDEX_HEADER*/
.section_header{
	font-family:"Babas",Arial,sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:#cf9f33;
	width:100%;
	text-align:center;
	background:url("header_line.jpg.html") repeat-x center;
	margin-bottom:35px;
	margin-top: 26px;
}
.section_header div{
	padding:0 11px;
	display:inline-block;
	background:white;
}
/*///////////*/
.text_block{
	font-size:12px;
	font-family:Arial,sans-serif;
	color:#686868;
}
/*footer*/
.bg_footer {
	background:#FFED00;
	position: relative;
	padding: 10px 0;
	margin-top:60px;
}
.bg_footer .footer{
	max-width:1280px;
	margin:0 auto;
}
.bg_footer .footer .table_footer {
	width:100%;
}
.bg_footer .contacts {	
	color:#393185;
	margin-left:13px;
}
.bg_footer .contacts .one_phone {
	font-size:13px;
	font-family:Arial,sans-serif;
	color:#393185;
}
.bg_footer .contacts .text_phone {
	font-size:13px;
	color:#393185;
	padding-left:2px;	
}
.table_footer .contacts {
	width:32%;
	padding-left:13px;
}
.table_footer .footer_menu {
	width:100%;
	overflow:hidden;
}
@media (max-width:1100px){
	.table_footer .footer_menu{
		width:100%;
	}
}
@media (max-width:980px){
	.table_footer .contacts{
		width:30%;
	}
}
@media (max-width:800px){
	.table_footer .contacts{
		width:40%;
	}
	.table_footer .logo{
		display:none;
	}
}
@media (max-width:700px){
	.table_footer .contacts{
		width:40%;
	}
	.table_footer .logo{
		display:none;
	}
}
@media (max-width:720px){	
	.table_footer .contacts {
		float: left;
		display: block;
		width: 92%;
		margin-left: 4%;
	}
	.table_footer .footer_menu {		
		float: left;
		display:none;
		width: 92%;
		margin-left:6%;
		clear:right;
		margin-top:5px;
	}
	.table_footer ul.footer_menu{
		width:100%;
		margin:0;
	}
	.bg_footer {
		padding: 20px 0;
	}
}
@media (max-width:460px) {
	.table_footer .contacts {
		margin-left: 2%;
	}
}
/*END_FOOTER*/
/*BX_POPUP_WINDOW*/
.popup-window	{
	border:0;
	border-radius:0;
	box-shadow:0;
	font-size:0;
}
.popup-window-close-icon {
	width: 20px;
	height: 20px;
	background:url("close_popup.png") no-repeat 0 0;
}
.popup-window-close-icon:hover {
	background:url("close_popup.png") no-repeat 0 -25px;
}
.popup-window-top-row,
.popup-window-left-column,
.popup-window-right-column {
	display:none;
}
.popup-window-content {
	margin:0;
	background:#fff;
	border-radius: 7px;
}
.popup-window,
.popup-window-content-row .popup-window-center-column {
	background:none;
}
/*END BX_POPUP_WINDOW*/
.bx_left_catalog {
	float:left;
	width: 18.7%;
}
.bx_content_right {
	width: 80%;
	float: right;
	clear: right;
}
@media (max-width:959px){
	.bx_left_catalog {
		display:none;
	}
	.bx_content_right {
		width:100%;
		float:none;
	}
}
ul.top_personal_menu {
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	position:relative;
	top:1px;
}
ul.top_personal_menu li {
	float:left;
	display:block;
	list-style:none;
	border:1px solid #fff;
	border-bottom:0;
}
ul.top_personal_menu li.active {
	border:1px solid #bebebe;
	border-bottom:1px solid #fff;
}
ul.top_personal_menu li a {
	display:block;
	font-size:14px;
	padding:14px 17px;
	color:#5a5a5a;
	font-family:'Babas',Arial,sans-serif;
	text-decoration:none;
}
.personal_body {
	border:1px solid #bebebe;
	width:100%;
	padding:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
@media (max-width:600px){
	ul.top_personal_menu li a {
		padding:12px 10px;
	}
}
@media (max-width:480px){
	ul.top_personal_menu li a {
		padding:12px 4px;
		font-size:12px;
	}
}
.bx_page {
	font-size:14px;
}
/*grid*/
.left_col,
.left_col_index {
	width:18.7%;
	float:left;
}
.right_col {
	float:right;
	width:79.43%;
}
@media (max-width:800px) {
	.left_col_index {
		display:none;
	}
	.right_col {
		width:100%;
	}
	.left_col {
		width:100%;
		margin-bottom:15px;
	}
}
/*marks*/
.marks {
	position: absolute;
	z-index: 3;
	left: 10px;
	top: 7px;
	
}
.marks .mark {
	background:url("marks.png") no-repeat;
	width:54px;
	height:54px;
	display:block;
}
.marks .mark.share {
	background-position:top;
}
.marks .mark.hit {
	background-position:bottom;
}
.marks .mark.new {
	background-position:0 -54px;
}
.mark + .mark {
	margin-top:-20px;
}
.mark + .mark + .mark {
	margin-top:-20px;
}
/*contacts*/
.cnt_contacts {
	float:left;
	width:30%;
	color:#444648;
	font-size:12px;
	line-height: 24px;
}
.cnt_contacts .dotted_line {
	border-bottom:1px dotted #d6d6d6;
	width:100%;
	height:1px;
	margin:5px 0;
}
.cnt_map {
	float:right;
	width: 59%;
}
.cnt_map .bx-yandex-view-layout {
	padding:5px;
	background:#f0f1f2;
	border-radius:3px;
}
.cnt_map .bx-google-map {
	width:100%!important;
}
.cnt_descr {
	clear:both;
	padding-top:15px;
}
.cnt_feedback {
	width:138px;
	display:block;
	text-align:center;
	color:#fff;
	border-radius:3px;
	border-top:1px solid #a1dd1d;
	border-right:1px solid #71a21b;
	border-bottom:1px solid #488a32;
	border-left:1px solid #88cb27;	
	cursor:pointer;
	padding: 5px 0;
	font-size:15px;
	margin-top:15px;
}
.cnt_feedback {
	background: #8dc119; /* Old browsers */
	background: -moz-linear-gradient(top, #8dc119 0%, #5db643 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8dc119), color-stop(100%,#5db643)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8dc119 0%,#5db643 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8dc119 0%,#5db643 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8dc119 0%,#5db643 100%); /* IE10+ */
	background: linear-gradient(to bottom, #8dc119 0%,#5db643 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dc119', endColorstr='#5db643',GradientType=0 ); /* IE6-9 */
}
.cnt_feedback:hover {
	background: #8dc119; /* Old browsers */
	background: -moz-linear-gradient(top,  #8dc119 0%, #92c94a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8dc119), color-stop(100%,#92c94a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8dc119 0%,#92c94a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8dc119 0%,#92c94a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8dc119 0%,#92c94a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8dc119 0%,#92c94a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dc119', endColorstr='#92c94a',GradientType=0 ); /* IE6-9 */
}
@media (max-width:768px) {
	.cnt_contacts {
		width:100%;
	}
	.cnt_map {
		width:100%;
		margin-top:15px;
	}
}